<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>0523第一次Angular1测试</title>
	<link rel="stylesheet" href="./css/style.css">
	<script src="./js/angular.min.js" ></script>
	<script>
		var myApp= angular.module('myApp',[]);
		myApp.controller('aCtrl',function($scope){
			$scope.quantity=1;
			$scope.const=5;
			$scope.firstName='guo';
			$scope.lastName='yuefei';
		});
		
		myApp.controller('myCtrl',function($scope){
			$scope.name = "郭";
		});
		//输入聚焦改变颜色的
		function focus_changebg(x){
			x.style.background="#f1f1f1";
		};
		
		function blur_changebg(x){
			x.style.background="#000000";
		}
		
		myApp.directive("myDir",function(){
			return{
				template:"<h3>这是我的自定义指令</h3>"			//这里不能有分号
			};
		});
		//自定义指令
		myApp.controller("repeatest",function($scope){
			$scope.names=[{name:"Jone",country:"UK"},{name:"stefan",country:"US"},{name:"Hege",country:"Au"}];
		
		});
		
	</script>
</head>
<body>
	<!--angular的初始化,后面还有更好的初始化方式，但是写的字多了点-->
	<div ng-app="myApp" >						<!--ng-init="quantity=1;const=5;firstName='guo';lastName='yuefei'"-->
		<div ng-controller="aCtrl">
			<p>我的第一个AngularJs表达式：{{5+5}}</p>
			<p>总价：{{quantity*const}}</p>
			<p>我是：{{firstName+lastName}}</p>
		</div>
		<div  ng-controller="myCtrl">
			<p> 请输入你姓名：</p>
			<input type="text" ng-model="Name" onfocus="focus_changebg(this)" onblur="blur_changebg(this)"/>
			<p>hello! {{ Name }}</p>		
		</div>
		<my-dir></my-dir>
		<div my-dir></div>
		
		<!--这里试验了repeat命令，可以方便的制作表格-->
		<div ng-controller="repeatest">
			<table>
				<tr>
					<th>name</th>
					<th>country</th>
				</tr>
				<tr ng-repeat="x in names">
					<td>{{x.name}}</td>
					<td>{{x.country}}</td>
				</tr>
			</table>
		</div>
	<div>
</body>
</html>